AzureDataFactory/pipeline/pl_load_sql_db.json
{
	"name": "pl_load_sql_db",
	"properties": {
		"activities": [
			{
				"name": "Create Tables If Not Exists",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[CreateSchemaAndTable]"
				},
				"linkedServiceName": {
					"referenceName": "ls_healthCare_sql_db",
					"type": "LinkedServiceReference",
					"parameters": {
						"dbName": {
							"value": "@pipeline().parameters.dbName",
							"type": "Expression"
						},
						"schemaName": {
							"value": "@pipeline().parameters.dummySchemaName",
							"type": "Expression"
						},
						"tableName": {
							"value": "@pipeline().parameters.dummyTableName",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "configs file",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Create Tables If Not Exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_healthCare_adls_delimited",
						"type": "DatasetReference",
						"parameters": {
							"containerName": {
								"value": "@pipeline().parameters.lookupContainerName",
								"type": "Expression"
							},
							"filePath": {
								"value": "@pipeline().parameters.lookupFilePath",
								"type": "Expression"
							},
							"fileName": {
								"value": "@pipeline().parameters.lookupFileName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "configs file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('configs file').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Adls to Sql db",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_healthCare_adls_delimited",
									"type": "DatasetReference",
									"parameters": {
										"containerName": {
											"value": "@pipeline().parameters.lookupContainerName",
											"type": "Expression"
										},
										"filePath": {
											"value": "@toLower(replace(item().database, '_', '-'))",
											"type": "Expression"
										},
										"fileName": {
											"value": "@concat(split(item().tableName, '.')[1], '.csv')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_healthCare_sql_db",
									"type": "DatasetReference",
									"parameters": {
										"dbName": {
											"value": "@pipeline().parameters.dbName",
											"type": "Expression"
										},
										"schemaName": {
											"value": "@item().database",
											"type": "Expression"
										},
										"tableName": {
											"value": "@split(item().tableName, '.')[1]",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"dbName": {
				"type": "string",
				"defaultValue": "healthCare-sql-db"
			},
			"dummySchemaName": {
				"type": "string",
				"defaultValue": "healthCare-hospital-a"
			},
			"dummyTableName": {
				"type": "string",
				"defaultValue": "patients"
			},
			"lookupContainerName": {
				"type": "string",
				"defaultValue": "sqldbraw"
			},
			"lookupFilePath": {
				"type": "string",
				"defaultValue": "configs"
			},
			"lookupFileName": {
				"type": "string",
				"defaultValue": "load_configs.csv"
			}
		},
		"annotations": []
	}
}